<footer class="footer">
  <div class="footer__wrapper">
    Футер
    Тестовый набор иконок:
    {{ icon('home', class_name='test') }}
    {{ icon('edit') }}
    {{ icon('tool') }}
    {{ icon('star', 64, 64) }}
  </div>
</footer>
