{%- from "macros/routes.j2" import "url_for" -%}
{%- from "macros/picture.j2" import "picture" -%}
<header class="header">
  <div class="header__wrapper">
    <nav class="site-nav js-nav">
      <button class="site-nav__toggle js-toggler"><span class="visually-hidden">Открыть меню</span></button>
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a class="site-nav__link site-nav__link--active" href="{{ url_for('page.one', pagename='index') }}" >Главная</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="{{ url_for('page.one', pagename='photo') }}" >Фото и видео</a>
        </li>
        <li class="site-nav__item site-nav__item--logo">
          <a class="site-nav__link site-nav__link--logo" href="#" tabindex="-1">
            {{ picture(
              class_name='image-class',
              file_name='logotype-mobile',
              file_name_tablet='logotype-tablet',
              file_name_desktop='logotype-desktop',
              alt='Описание изображения',
              width=100,
              height=84,
              bp_tablet=768,
              width_tablet=100,
              height_tablet=84,
              bp_desktop=1200,
              width_desktop=186,
              height_desktop=96,
              type='svg'
            ) }}
          </a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="{{ url_for('page.one', pagename='form') }}" >Форма отзыва</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="https://htmlacademy.ru" target="_blank">HTML Academy</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
