{%- from "macros/routes.j2" import "url_for" -%}
<header class="header">
  <div class="header__wrapper">
    <nav class="site-nav">
      <button class="site-nav__toggle">Открыть меню</button>
      <ul class="site-nav__list">
        <li class="site-nav__item site-nav__item--logo">
          <a class="site-nav__link" href="#" >
            <img class="site-nav__img" src="{{ url_for('static', filename='images/logotype-mobile.svg') }}" width="102" height="84" alt="Логотип Sedona">
          </a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link site-nav__link--active" href="{{ url_for('page.one', pagename='index') }}" >Главная</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="{{ url_for('page.one', pagename='photo') }}" >Фото и видео</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="{{ url_for('page.one', pagename='form') }}" >Форма отзыва</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="https://htmlacademy.ru" target="_blank">HTML Academy</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
