@use "sass:list";
@use "sass:color";
@use "sass:map";
@use "../mixins/media.scss" as *;
@use "../common/vars.scss" as *;
@use "../mixins/layout.scss" as *;

:root {
  --color-text-base: #{$color-text-base};
  --color-text-bold: #{$color-text-bold};
  --color-text-light: #{$color-text-light};
  --color-text-active: #{$color-text-active};
  --color-text-active-hover: #{$color-text-active-hover};
  --color-text-bold-active: #{color.adjust($color-text-bold, $alpha: -0.6)};
  --color-text-light-active: #{color.adjust($color-text-light, $alpha: -0.6)};
  --color-text-active-active: #{color.adjust($color-text-active, $alpha: -0.6)};
  --color-bg: #{$color-bg};
  --color-bg-body: #{$color-bg-body};
  --color-primary: #{$color-primary};
  --color-primary-hover: #{$color-primary-hover};
  --color-primary-active: #{$color-primary-active};
  --color-secondary: #{$color-secondary};
  --color-tertiary: #{$color-tertiary};
  --color-hover: #{color.adjust($color-primary, $lightness: -15%)};
  --color-active: #{color.adjust($color-primary, $lightness: 15%)};
}

html { height: 100%; }

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: map.get($widths, xs);
  min-height: 100%;
  margin: 0;
  font: $font-weight list.slash($font-size, $line-height) $font-family;
  color: $color-text-base;
  letter-spacing: $letter-spacing;
  background-color: var(--color-bg-body);

  @include media-min(sm) { min-width: map.get($widths, sm); }
  @include media-min(md) { min-width: map.get($widths, md); }
  @include media-min(xl) { min-width: map.get($widths, xl); }
}

a {
  background-color: transparent;

  &:hover,
  &:focus {
    color: $color-hover;
    text-decoration: none;
  }

  &:active { color: $color-active; }
}
