@use "sass:color";

// Шрифты
$font-family: -apple-system, system-ui, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif;
$font-size: 14px;
$line-height: 1.3;
$letter-spacing: 0;

// Цвета
$color-base: #283136;
$color-bold: #000;
$color-bg: #fff;
$color-bg-secondary: #eee;
$color-primary: #fb565a;
$color-secondary: #00ca74;
$color-tertiary: #efc84a;
$color-active-control: #c1c1c1;
$color-hover: color.adjust($color-primary, $lightness: -15%);
$color-active: color.adjust($color-primary, $lightness: 15%);

// Размеры
$widths: (
  xs: 320px,
  md: 768px,
  xl: 1200px,
);

// Отступы
$gap: 140px;
$gap-sm: 20px;
$gap-md: 60px;
$gap-xl: 120px;
