@use "sass:color";

// Шрифты
$font-family: 'PT Sans', sarial, sans-serif;
$font-size: 14px;
$line-height: 21px;
$font-weight: 400;
$letter-spacing: 0;

// Цвета
$color-text-base: rgba(51, 51, 51, 1);
$color-text-bold: rgba(0, 0, 0, 1);
$color-text-light: rgba(255, 255, 255, 1);
$color-text-active: rgba(118, 99, 87, 1);
$color-text-active-hover: rgba(96, 78, 67, 1);
$color-bg: #fff;
$color-bg-body: rgba(231, 229, 229, 1);
$color-bg-secondary: #eee;
$color-primary: rgba(129, 179, 210, 1);
$color-primary-hover: rgba(102, 158, 192, 1);
$color-primary-active: rgba(84, 150, 189, 1);
$color-secondary: #00ca74;
$color-tertiary: #efc84a;
$color-active-control: #c1c1c1;
$color-hover: color.adjust($color-primary, $lightness: -15%);
$color-active: color.adjust($color-primary, $lightness: 15%);

// Размеры
$widths: (
  xs: 320px,
  md: 768px,
  xl: 1200px,
);

// Отступы
$gap: 140px;
$gap-sm: 20px;
$gap-md: 60px;
$gap-xl: 120px;
